@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 247, 250);
}
.container {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-bottom: 02rem;
  .container-1,
  .container-2,
  .container-3,
  .container-4 {
    color: #dc3774;
    font-weight: 700;
    padding: 3px 7px;
    border: 3px solid rgb(175, 177, 178);
    border-radius: 50%;
    // margin-right: 73px;
    // align-self: center;
  }
  .container-2,
  .container-3,
  .container-4 {
    transition: border;
    transition-duration: 400ms;
  }
  .container-1.active {
    border: 3px solid rgb(61, 101, 232);
  }
  .container-2.active {
    border: 3px solid rgb(61, 101, 232);
  }
  .container-3.active {
    border: 3px solid rgb(61, 101, 232);
  }
  .container-4.active {
    border: 3px solid rgb(61, 101, 232);
  }
}

.bar {
  width: 50px;
  height: 3px;
  background-color: rgb(175, 177, 178);
}

.button-c {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    margin-right: 15px;
    // cursor: pointer;
  }
}

button {
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 4px 18px;
  font: inherit;
  border: none;
  border-radius: 5px;
  background-color: rgb(44, 179, 242);
}

.bar.active {
  background-color: rgb(61, 101, 232);
}

button:hover {
  background-color: rgb(89, 188, 234);
}
